# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# ChromaDB and Database files
chroma_db/
data/vector_db/
*.sqlite3
*.bin

# Evaluation outputs
data/outputs/*
data/test_datasets/*
data/evaluation/*


# MacOS
.DS_Store

# Logs
*.log

scripts/
storage/